body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

.mainhead{
	background: #417580;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 150px;
	}
.mainhead p{
	text-align: center;
	color: #ffffff;
	font-size: 50px;
	font-family: 'Dynalight';
}
#mainnav{
	text-align: center;
}
#mainnav a{
	padding-right: 50px;
	padding-left: 50px;
}
.navbox{
	background-color: #ffffff; 
    border-right: 2px solid #417580;
    border-left: 2px solid #417580;
    border-bottom: 2px solid #417580;
    color: #417580;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Denk One';
}
.navbox:hover{
    background-color: #417580; 
    border-right: 2px solid #417580;
    border-left: 2px solid #417580;
    border-bottom: 2px solid #417580;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Denk One';
}
.foot{
	background-color: #38494d;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Dosis';
}
.foottext{
	font-size: 16px;
	padding-left: 20px;
}
.mainbody{
	font-family: 'Dosis';
	padding-top: 900px;
}
.signinhead{
	background: #417580;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 80px;
	font-family: 'Didact Gothic';
	text-align: left;
	font-size: 30px;
	padding-left: 20px;
}
.signinbody{
	padding-top: 90px;
	padding-bottom: 90px;
	font-family: 'Didact Gothic';
}
.signinbox{
	border-radius: 25px;
    background: #ffffff; 
    width: 500px;
    height: 600px;
    text-align: center; 
    margin: auto;
    padding-top: 60px;
    border: 4px solid #417580;
}
.signintext{
	font-family: 'Didact Gothic';
	font-size: 30px;
}
.signintext2{
	font-family: 'Didact Gothic';
	font-size: 20px;
	padding-top: 20px;
}
.signintext3{
	font-family: 'Didact Gothic';
	font-size: 15px;
	padding-top: 250px;
}
.passwordfield{
	padding-top: 20px;
	padding-bottom: 20px;
}
.signinsubmit{
	background-color: #ffffff;
	border: 2px solid #417580;
	padding: 10px 10px;
}
.signinsubmit:hover{
	background-color: #417580;
	border: 2px solid #417580;
	padding: 10px 10px;
}
.signintext4{
	color: #f02424;
}
.navbox2{
	background-color: #417580; 
    border-right: 2px solid #417580;
    border-left: 2px solid #417580;
    border-bottom: 2px solid #417580;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Denk One';
}
.navbox2:hover{
	background-color: #ffffff; 
    border-right: 2px solid #417580;
    border-left: 2px solid #417580;
    border-bottom: 2px solid #417580;
    color: #417580;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Denk One';
}
.studysetsbody{
	padding-bottom: 15px;
	padding-top: 15px;
}
.studysetstext1{
	font-family: 'Didact Gothic';
	font-size: 20px;
	padding-left: 20px;
}
.studycontainer{
	border-radius: 25px;
    background: #ffffff; 
    width: 500px;
    height: 1000px;
    text-align: left; 
    border: 4px solid #417580;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
   	font-family: 'Denk One';
}
.studyinput{
	border: 2px solid #417580;
	padding-right: 20px;
	padding-left: 20px; 
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
	color: #417580;
	margin-right: 20px;
	margin-left: 20px;
}
.studyinput:hover{
	border: 2px solid #417580;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px; 
	background-color: #417580;
	color: #ffffff;
	margin-right: 20px;
	margin-left: 20px;
}
.vocabbody{
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}